<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_task</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Kodrgaryv27546!</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.hbm2ddl.import_files">schema.sql</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="show_sql">true</property>
        <mapping class="com.myproject.myapp.Owner"/>
        <mapping class="com.myproject.myapp.Cat"/>
        <mapping class="com.myproject.myapp.Veterinarian"/>
        <mapping class="com.myproject.myapp.BaseEntity"/>
    </session-factory>
</hibernate-configuration>